<a href="https://colab.research.google.com/github/vinayR-cmd/UIADI_hack_colab/blob/main/UIADI_1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df1=pd.read_csv("/content/api_data_aadhar_enrolment_0_500000.csv")
df1.shape

In [ ]:
df2=pd.read_csv("/content/api_data_aadhar_enrolment_500000_1000000.csv")
df2.shape

In [ ]:
df3=pd.read_csv("/content/api_data_aadhar_enrolment_1000000_1006029.csv")
df3.shape

In [ ]:
df1.head()

In [ ]:
df2.head()

In [ ]:
df1['date'] = pd.to_datetime(df1['date'], format='mixed', dayfirst=True)

In [ ]:
df2['date']=pd.to_datetime(df2['date'])

In [ ]:
df3['date']=pd.to_datetime(df3['date'])

In [ ]:
df2.info()

In [ ]:
df1.info()

In [ ]:
df3.info()

In [ ]:
df1['date'].isnull().sum(), df2['date'].isnull().sum(), df3['date'].isnull().sum()

In [ ]:
df1.head(2)

In [ ]:
df2.head()

In [ ]:
df3.head()

In [ ]:
df2['age_5_17'].unique()

In [ ]:
df1['state'].unique(), df2['state'].unique(), df3['state'].unique()

In [ ]:
len(df1['state'].unique()), len(df2['state'].unique()), len(df3['state'].unique())

**merging three datasets**

In [ ]:
df = pd.concat([df1, df2, df3], axis=0, ignore_index=True)
df.shape

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df['year']=df['date'].dt.year
df['month_name']=df['date'].dt.month_name()
df['day_name']=df['date'].dt.day_name()

In [ ]:
df.head()

In [ ]:
df.drop(columns=['year'], axis=1, inplace =True)

In [ ]:
df.columns

In [ ]:
df['total_enrollments']=df['age_0_5']+df['age_5_17']+df['age_18_greater']
df.head()

# no null values already checked

In [ ]:
import pandas as pd
import re

def clean_state_name(x):
    if pd.isna(x):
        return x
    x = str(x).lower()
    x = re.sub(r'[^a-z\s]', ' ', x)   # remove symbols like &, .
    x = re.sub(r'\s+', ' ', x).strip()  # remove extra spaces
    return x

In [ ]:
state_mapping = {
    # West Bengal
    'west bengal': 'West Bengal',
    'west bangal': 'West Bengal',
    'westbengal': 'West Bengal',
    'west  bengal': 'West Bengal',
    'westbengal ': 'West Bengal',

    # Andhra Pradesh
    'andhra pradesh': 'Andhra Pradesh',

    # Odisha
    'odisha': 'Odisha',
    'orissa': 'Odisha',

    # Jammu & Kashmir
    'jammu and kashmir': 'Jammu and Kashmir',
    'jammu kashmir': 'Jammu and Kashmir',

    # Collapse all Dadra / Daman variants into ONE state
    'dadra nagar haveli': 'Dadra and Nagar Haveli and Daman and Diu',
    'dadra and nagar haveli': 'Dadra and Nagar Haveli and Daman and Diu',
    'daman and diu': 'Dadra and Nagar Haveli and Daman and Diu',
    'dadra and nagar haveli and daman and diu': 'Dadra and Nagar Haveli and Daman and Diu',
    'the dadra and nagar haveli and daman and diu': 'Dadra and Nagar Haveli and Daman and Diu',
    'daman diu': 'Dadra and Nagar Haveli and Daman and Diu',


    # Puducherry
    'puducherry': 'Puducherry',


    # Andaman & Nicobar Islands
    'andaman and nicobar islands': 'Andaman and Nicobar Islands',
    'andaman nicobar islands': 'Andaman and Nicobar Islands',

    # Puducherry
    'pondicherry': 'Puducherry',

    # Case-normalized direct matches
    'delhi': 'Delhi',
    'ladakh': 'Ladakh',
    'goa': 'Goa',
    'sikkim': 'Sikkim',
    'assam': 'Assam',
    'bihar': 'Bihar',
    'punjab': 'Punjab',
    'kerala': 'Kerala',
    'haryana': 'Haryana',
    'gujarat': 'Gujarat',
    'tamil nadu': 'Tamil Nadu',
    'telangana': 'Telangana',
    'karnataka': 'Karnataka',
    'maharashtra': 'Maharashtra',
    'rajasthan': 'Rajasthan',
    'uttar pradesh': 'Uttar Pradesh',
    'madhya pradesh': 'Madhya Pradesh',
    'himachal pradesh': 'Himachal Pradesh',
    'arunachal pradesh': 'Arunachal Pradesh',
    'chhattisgarh': 'Chhattisgarh',
    'jharkhand': 'Jharkhand',
    'manipur': 'Manipur',
    'meghalaya': 'Meghalaya',
    'mizoram': 'Mizoram',
    'nagaland': 'Nagaland',
    'tripura': 'Tripura',
    'uttarakhand': 'Uttarakhand',
    'lakshadweep': 'Lakshadweep',
    'chandigarh': 'Chandigarh'
}

In [ ]:
df['state'] = (
    df['state']
    .apply(clean_state_name)
    .map(state_mapping)
)

In [ ]:
df['state'].unique(), df['state'].nunique()

In [ ]:
df['state'].isnull().sum()

In [ ]:
df.isnull().sum()

In [ ]:
df_check=df[df['state']=='Uttar Pradesh']
df_check.head()

In [ ]:
df_check['district'].unique()

In [ ]:
df_check.groupby('district')['pincode'].nunique()

In [ ]:
df['pincode'].nunique()

In [ ]:
df[df.duplicated(subset=[ 'pincode','district','state','date'])]

In [ ]:
key_cols = ['date', 'state', 'district', 'pincode']

df[df.duplicated(subset=key_cols, keep=False)] \
  .sort_values(key_cols)

In [ ]:
!pip install ydata-profiling

In [ ]:
from ydata_profiling import ProfileReport
profile=ProfileReport(df, title='Pandas Profiling Report', explorative=True)
profile.to_file("eda.html")
profile

In [ ]:
# null values check
sns.heatmap(df.isnull())

In [ ]:
df['state'].isnull().sum()

basicall hmare pass 22 rows to inko hm seedha drop hi kr deneg

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df['total_enrollments'].shape

In [ ]:
# Remove rows where total_enrollments is 0 (rare but safe)
df = df[df['total_enrollments'] > 0].copy()

In [ ]:
df.shape

In [ ]:
df['child_enrolment_ratio'] = df['age_0_5'] / df['total_enrollments']
df['teen_enrolment_ratio'] = df['age_5_17'] / df['total_enrollments']
df['adult_enrolment_ratio'] = df['age_18_greater'] / df['total_enrollments']

In [ ]:
df.head(3)

In [ ]:
df.shape

In [ ]:
df[['child_enrolment_ratio',
    'teen_enrolment_ratio',
    'adult_enrolment_ratio']].describe()

In [ ]:
# Create month column (safe even if month_name exists)
df['month'] = df['date'].dt.to_period('M')

monthly_df = (
    df.groupby(['state','district','month'], as_index=False)
    .agg({
        'age_0_5':'sum',
        'age_5_17':'sum',
        'age_18_greater':'sum',
        'total_enrollments':'sum'
    })
)

In [ ]:
monthly_df['child_enrolment_ratio'] = (
    monthly_df['age_0_5'] / monthly_df['total_enrollments']
)

monthly_df['teen_enrolment_ratio'] = (
    monthly_df['age_5_17'] / monthly_df['total_enrollments']
)

monthly_df['adult_enrolment_ratio'] = (
    monthly_df['age_18_greater'] / monthly_df['total_enrollments']
)

In [ ]:
monthly_df.head()

In [ ]:
monthly_df.shape

In [ ]:
# Risk score between 0 and 1
monthly_df['risk_score'] = (
    0.6 * monthly_df['child_enrolment_ratio'] +
    0.3 * monthly_df['teen_enrolment_ratio'] +
    0.1 * monthly_df['adult_enrolment_ratio']
)

In [ ]:
monthly_df.head()

In [ ]:
# yha se hm log EDA start krenege main EDA hm log krenge on df dataframe and for monthly policies we will use the monthly_df dataframe

In [ ]:
df.head(3)

In [ ]:
df = df.rename(columns={
    'child_enrolment_ratio': 'age_0_5_enrolment_ratio',
    'teen_enrolment_ratio': 'age_5_17_enrolment_ratio',
    'adult_enrolment_ratio	': 'adult_enrolment_ratio	'
})

In [ ]:
df.head(3)

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
df.duplicated().sum()

In [ ]:
df[df.duplicated(subset=['date', 'state', 'district', 'pincode','total_enrollments'])]

In [ ]:
key_cols = ['date', 'state', 'district', 'pincode']

print("Duplicate rows:", df.duplicated(subset=key_cols).sum())

df[df.duplicated(subset=key_cols, keep=False)].sort_values(key_cols)

In [ ]:
monthly_df.isnull().sum()

In [ ]:
key_cols = ['state', 'district', 'month']

print("Duplicate rows:", monthly_df.duplicated(subset=key_cols).sum())

monthly_df[monthly_df.duplicated(subset=key_cols, keep=False)].sort_values(key_cols)

In [ ]:
df = df.drop_duplicates()
# ye code run nhi kiy ahai abhi jb run krenge tb df me se jo true duplicates hai sirf wo hi delte ho hongi, is code cell ko jb montly_df bnayenge tbhi use krenge for monthly aggregation

In [ ]:
num_cols=df.select_dtypes(include=['number']).columns.tolist()
cat_cols=df.select_dtypes(include=['category','object']).columns.tolist()

In [ ]:
num_cols, cat_cols

numerical columns univariate analysis

In [ ]:
plt.figure(figsize=(15,10))

for i , col in enumerate(num_cols, 1):
  plt.subplot(3,3,i)
  sns.kdeplot(df[col], fill=True)
  plt.xlabel(col)

In [ ]:
sns.histplot(df['total_enrollments'],kde=True)
plt.xscale('log')
plt.show()

In [ ]:
plt.figure(figsize=(15,10))

for i , col in enumerate(num_cols, 1):
  plt.subplot(3,3,i)
  sns.boxplot(y=col, data =df, color='green')
  plt.xlabel(col)

In [ ]:
df[num_cols].describe()

In [ ]:
df.groupby('total_enrollments')['age_0_5'].sum()

In [ ]:
cat_cols

In [ ]:
# bivariate analysis

In [ ]:
# num vs num
num_cols, cat_cols

In [ ]:
df['state'].nunique(), df['district'].nunique()

In [ ]:
sns.scatterplot(x='total_enrollments', y='age_0_5', data=df, hue='month_name')

In [ ]:
sns.scatterplot(x='total_enrollments', y='age_5_17', data=df, hue='month_name')
# yha se pta chl rha ki age_5_17 and age_0_5 ye dono total_enrollments ke sat linearly relationship me hia

In [ ]:
sns.scatterplot(x='total_enrollments', y='age_18_greater', data=df, hue='month_name')

In [ ]:
# Boxplots for age groups

plt.figure()
plt.boxplot(
    [df['age_0_5'], df['age_5_17'], df['age_18_greater']],
    labels=['Age 0–5', 'Age 5–17', 'Age 18+']
)
plt.title("Age-wise Enrolment Distribution")
plt.ylabel("Enrolments")
plt.show()

In [ ]:
gr=df.groupby('month_name')['total_enrollments'].count().reset_index()
gr

In [ ]:
sns.barplot(x='month_name',y='total_enrollments', data=gr)
plt.xticks(rotation=90)

In [ ]:
g=df.groupby('state')['total_enrollments'].count().reset_index()
g

In [ ]:
sns.barplot(x='state', y='total_enrollments', data=g)
plt.xticks(rotation=90)

In [ ]:
df.columns

In [ ]:
district_count=df.groupby('district')['total_enrollments'].count().reset_index()
district_count

In [ ]:
state_daily = (
    df.groupby(['date', 'state'])['total_enrollments']
      .sum()
      .reset_index()
)

state_daily['rolling_mean'] = (
    state_daily.groupby('state')['total_enrollments']
               .transform(lambda x: x.rolling(7).mean())
)

state_daily['spike'] = (
    state_daily['total_enrollments'] >
    1.5 * state_daily['rolling_mean']
)

state_daily[state_daily['spike']]

In [ ]:
num_cols

In [ ]:
df.head()

In [ ]:
df.groupby('month')['age_0_5_enrolment_ratio'].mean()

In [ ]:
child_trend = (
    df.groupby('date')['age_0_5_enrolment_ratio']
      .mean()
)

child_trend.plot(title='Child (0–5) Enrollment Ratio Trend')

In [ ]:
teen_trend = (
    df.groupby('date')['age_5_17_enrolment_ratio']
      .mean()
)

teen_trend.plot(title='Teen (5–17) Enrollment Ratio Trend')

In [ ]:
adult_trend = (
    df.groupby('date')['adult_enrolment_ratio']
      .mean()
)
adult_trend.plot(title='Adult Enrollment Ratio Trend')

In [ ]:
ratio_trends = (
    df.groupby('date')[
        ['age_0_5_enrolment_ratio',
         'age_5_17_enrolment_ratio',
         'adult_enrolment_ratio']
    ]
    .mean()
)

ratio_trends.plot(
    title='Enrollment Ratio Trends (Child vs Teen vs Adult)',
    figsize=(10,5)
)

isse pta chke rha hai ki child aur teens ka grah just oppsosite hai means dono contradictory hai iskoe hm log mention kr skte hai reort me

In [ ]:
pincode_daily = (
    df.groupby(['date','pincode'])['total_enrollments']
      .sum()
      .reset_index()
)

threshold = pincode_daily['total_enrollments'].quantile(0.99)

outliers = pincode_daily[pincode_daily['total_enrollments'] > threshold]
outliers

In [ ]:
monthly_total = (
    df.groupby('month_name')['total_enrollments']
      .count()
)

monthly_total.plot(title='Monthly Enrollment Seasonality')

In [ ]:
sns.barplot(x='month_name',y='total_enrollments', data=gr)
plt.xticks(rotation=90)

In [ ]:
num_cols

In [ ]:
plt.figure(figsize=(15,10))
ratios = [
    "age_0_5_enrolment_ratio",
    "age_5_17_enrolment_ratio",
    "adult_enrolment_ratio"
]

df[ratios].hist(bins=30, figsize=(14,4))
plt.suptitle("Distribution of Risk Ratios")
plt.show()

In [ ]:
state_ratio = (
    df.groupby('state')[['age_0_5_enrolment_ratio','adult_enrolment_ratio']]
      .mean()
)

state_ratio.sort_values('age_0_5_enrolment_ratio', ascending=False).head()

In [ ]:
district_trend = (
    df.groupby(['date','district'])['total_enrollments']
      .sum()
      .reset_index()
)

trend = district_trend.groupby('district')['total_enrollments'].mean()
trend